.home_section {
  background-color: #fbfff7;
  padding: 6rem 0 2rem;
  height: 100vh;

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
    padding-top: 5.5rem;
    position: relative;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    margin: auto;
  }
  .home_avatar_box {
    display: flex;
    background-color: #9fb18f;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .home_avatar {
    margin: auto;
  }
  .home_description {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .scrollDown {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #393c36;
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(25px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  .text {
    margin: 75px auto -30px auto;
    font-size: 12px;
    color: #393c36;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.25;
    animation: pulse 2s linear alternate infinite;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 768px) {
  .home_section {
    padding: 0;
  }
}
