.header {
  width: 100%;
  height: 72px;
  background: #f5fbef;
  // #d8e5cc;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 0 0.2rem #0000001a, 0 0.2rem 0.4rem #0003;
  transition: transform 0.25s cubic-bezier(0.1, 0.7, 0.1, 1), box-shadow 0.25s;

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1px;
    height: 72px;
  }

  .item_list {
    column-gap: 2rem;
    display: flex;
  }

  ul {
    list-style: none;
  }

  a {
    color: #4e6b74;
    text-decoration: none;
  }
}
